* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-section {
  background-image: url('./assets/laptop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inside-div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.588);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zee {
  color: white;
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
}

.home {
  color: black;
  text-decoration: none;
  background-color: gold;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.others {
  color: white;
  text-decoration: none;

}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu {
  color: white;
  font-size: 25px;
  display: none;

}

.black-links {
  text-decoration: none;
  color: black;
  padding-top: 25px;
  margin-bottom: 10px;
}

.vanish.open {
  display: block;
  background-color: rgb(244, 244, 244);
  padding: 40px;
  list-style: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  z-index: 3000;
  right: 1%;
}

.vanish {
  display: none;
  position: absolute;
  background-color: red;
  z-index: 3000;
}

ul {
  background-color: rgb(243, 243, 243);
  width: 200px;
  list-style: none;
  padding: 20px;
  line-height: 3;
  position: absolute;
  border-radius: 10px;
  right: 0;
  z-index: 3000;
}

.vanish > ul {
  list-style: none;
  z-index: 3000;
}

.menudiv {
  position: relative;
  z-index: 3000;
}

.hello {
  color: white;
}

